body {
	text-align: center;
	background-color: #ececec;
	max-width: 62.5rem;
	margin: auto;
}

#login_provider {
	position: absolute;
	left: 5px;
}

#helpPrompt {
	position:absolute; 
	top:0; 
	right:5px; 
	font-size: 0.9rem;
	cursor: pointer;
	color: #999;
}

#helpPrompt:hover {
	color: #000;
}

#titleBar {

}

#viewTypeDiv {
	margin-top: 0;
}

#viewTypeDiv button {
	margin-bottom: 0;
	padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
	background-color: #999;
	float: left;
	border: #999;
}

#mainWrapper {
	position: relative;
	width: 100%;
	/*max-width: 480px;*/	
	/*min-height: 3000px;*/
	overflow-x: hidden;
	background-color: #ececec;
	font-size: 0.92rem;
}

#brandsWrapper {
	position: absolute;
	top: 5px;
	left: 0%;
	width: calc(100% - 10px);
}

#homeWrapper {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 100%;
	text-align: center;
	background-color: transparent;
}

.brandItem, .acctItem, .promoItem {
	position: relative;
	margin: 5px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #d8d8d8;
}

.promoItem {
	text-align: left;
	min-height: 12rem;
}

.promoItem img, .promoItem svg {
	max-width: 7rem;
	max-height: 10rem;
	margin-right: 0.5rem;
	float: left;
}

.logoDiv {
	width: 25px;
	height: 25px;
	font-size: 25px;
	line-height: 25px;
	background-color: #ececec;
	text-align: center;
	font-weight: normal;
}

.brandLabel {
	font-weight: 700;
	text-align: left;
}

.tally {
	background-color: #fff;
}

.subLabel {
	/*height: 30px;*/
	padding: 0 5px;
	text-align: left;
}

#aboutWrapper, #membersWrapper, #accountsWrapper, #recordsWrapper, 
#memberHoldingsWrapper, #accountHoldersWrapper, #throttlesWrapper,
#ratingsWrapper, #promosWrapper {
	position: absolute;
	top: 5px;
	left: 100%;
	/*width: calc(100% - 10px);*/
}	

.memberDivToggle, .acctDivToggle, .recordDivToggle {
	position: absolute;
	bottom: 5px;
	left: 220px;
	height: 10px;
	line-height: 12px;
	width: 50px;
	padding: 0px;
	text-align: center;
	color: rgb(190,190,190);
	font-size: 8px;
	background-color: rgb(245,245,245);
	border-radius: 2px;
	margin-bottom: -5px;
}

#recordsType {
	position: relative;
	width: auto;
	margin: 5px;
	height: 25px;
}

#recordsType button {
	padding-left: 1rem;
	padding-right: 1rem;
}

.left {
	float: left;
}

.right {
	float: right;
}

.pac-container {
	z-index: 10000 !important; 
}

.tabs dd > a, .tabs .tab-title > a{
    outline: none;
}

#shareIframe {
	position: absolute;
	display: none;	
	border:none; 
	overflow:hidden;
}

#scrollTo {
	display:none;
	position: absolute;
	bottom: -10px;
	right: 10px;
}
