body {
	text-align: center;
	background-color: #ececec;
	max-width: 62.5rem;
	margin: auto;
}

#login_provider {
	position: absolute;
	left: 5px;
}

#helpPrompt {
	position:absolute; 
	top:0; 
	right:5px; 
	font-size: 0.9rem;
	cursor: pointer;
}

#titleBar {

}


#viewTypeDiv {
	margin-top: 0;
}

#viewTypeDiv button {
	margin-bottom: 0;
	padding: 0.5rem 0.8rem;
	background-color: #999;
	float: left;
	border: #999;
}

#mainWrapper {
	position: absolute;
	width: 100%;
	/*min-height: 3000px;*/
	overflow-x: hidden;
	overflow-y: visible;
	background-color: #ececec;
	font-size: 0.92rem;
}

#accountsWrapper {
	position: absolute;
	top: 5px;
	left: 0px;
	padding-left: 5px;
	padding-right: 5px;
}	

.acctDivToggle, .recordDivToggle, .relayDivToggle {
	position: absolute;
	bottom: 5px;
	left: 45%;
	height: 10px;
	line-height: 12px;
	width: 50px;
	padding: 0px;
	text-align: center;
	color: rgb(190,190,190);
	font-size: 8px;
	background-color: rgb(245,245,245);
	border-radius: 2px;
}

 .recordDivToggle {
	margin-bottom: -5px;
}

.acctItem {
	position: relative;
	left: -5px;
	height: 50px;
	margin: 5px;
	padding: 10px;
	background-color: #fff;	
	border: 1px solid #d8d8d8;
}

.logoDiv {
	width: 25px;
	height: 25px;
	font-size: 25px;
	line-height: 25px;
	background-color: #ececec;
	text-align: center;
}

.detailsDiv {
	width: 100%;
}

#acctRecordTitle, #acctRelayTitle {
	/*width: 480px;*/
}


#recordsWrapper, #relaysWrapper {
	position: absolute;
	top: 5px;
	left: 105%;
}	

.recordItem {
	position: relative;
	max-height: 38px;
	margin: 5px;
	padding: 10px;
	background-color: #ececec;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #d8d8d8;
}

.relayItem {
	position: relative;
	margin: 5px;
	padding: 10px;
	background-color: #ececec;
	overflow: hidden;
	text-align: left;
	background-color: #fff;
	border: 1px solid #d8d8d8;
}

#scrollTo {
	display:none;
	position: absolute;
	bottom: -10px;
	right: 10px;
}

.acctLabel {
	text-align: left;
}

.acctBal {
	text-align: center;
}

.acctFormDiv {
	display: none;
	margin-top: 20px;
	overflow: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}